
<% if current_user %>

    <div class="row">
      <div class="span3">
        <%= form_for @memo, :url => {:controller => 'memos',:action => 'create'}, :remote => true do |f| %>
          <%= f.text_area :text, :class => "span3", :size=>"10x3" %>
          <%= f.text_field :tag_name, :class => "span3" %>
          <%= button_tag(:type => 'submit', :class => 'btn btn-primary') do %>
            <i class="icon-pencil icon-white"></i>
          <% end %>
        <% end %>
      
        <hr>
        <%= form_tag(:controller => "memos", :action => "find") do %>
          <%= text_field_tag 'search_string', nil, :class => 'span3' %>
          <%= button_tag(:type => 'submit', :class => 'btn btn-primary') do %>
            <i class="icon-search icon-white"></i>
          <% end %>
        <% end %>

        <hr>

      </div><!-- /span3 -->

      <div class="span9">

        <div id="error">
        </div>

        <div id="posts">
          <%= render @memos %>
        </div>
        
        <% if @count_memos == 0 %>
          
        <% else %>
          <% if @load_more_option == "show" %>
            <%= link_to load_more_path , :remote => true, :id => "load_more_link" do %>
              <button class="btn" type="button"><i class="icon-arrow-down"></i></button>
            <% end %>
          <% elsif @load_more_option == "find" %>
            <%= link_to load_find_more_path , :remote => true, :id => "load_more_link" do %>
              <button class="btn" type="button"><i class="icon-arrow-down"></i></button>
            <% end %>
          <% elsif @load_more_option == "tag_find" %>
            <%= link_to load_tag_find_more_path , :remote => true, :id => "load_more_link" do %>
              <button class="btn" type="button"><i class="icon-arrow-down"></i></button>
            <% end %>
          <% end %>
        <% end %>
          
      </div><!-- /span9 -->
    </div><!-- /row -->


<script type="text/javascript">

$(function(){
  $('#posts').sortable({
    cursor: 'move',
    handle: 'span',
    placeholder: 'placeholder',
    forcePlaceholderSize: true,
    opacity: 0.4,
    update: function() {
      $.ajax({
        url: '/memos/reorder',
        type: 'POST',
        dataType: 'text',
        data: $(this).sortable('serialize'),
      }).done( )
        .fail( function(){showErrorToast("並べ替えに失敗しました。<br>リロードしてください。");} );
    }
  });
});

</script>

<% else %>

<div class="hero-unit">
    <h2>MyFragments </h2>
    <p>気軽にメモして、整理は後で。どんどんメモする自分だけのメモ帳です。</p>
  <p>
    <%= link_to "Twitterでlogin","/auth/twitter", :class => "btn btn-primary" %>
  </p>
</div>

<% end %>


<% unless flash[:notice].blank? %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $().toastmessage('showNoticeToast', "<%= flash[:notice] %>");
    });
  </script>
<% end %>

<% unless flash[:alert].blank? %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $().toastmessage('showErrorToast', "<%= flash[:alert] %>");
    });
  </script>
<% end %>
