<body>
  <div id="user_nav">
    <% if current_user %>
       <%= image_tag current_user.avatar.url(:thumb) %>
       <%= current_user.name %>さん <%= link_to "ログアウト" ,logout_path %>
       <%= link_to "ツイート" ,tweet_path %>
    <% else %>
       <%= link_to "Twitterでlogin","/auth/twitter" %>
    <% end %>
  </div>
<%= yield %>
</body>
