<% if current_user %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="http://192.168.0.5:8080">MyFragments</a>

        <div class="nav-collapse collapse">
          <div class="navbar-form pull-right">
            <span class="btn-group">
              <%= image_tag current_user.avatar.url(:thumb) , :class => "img-rounded my-icon" %>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <%= current_user.nickname %> 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "ログアウト" ,logout_path %></li>
                <li class="divider"></li>
                <li><%= link_to "退会" ,remove_path %></li>
              </ul>
            </span>
          </div>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar-inner -->
  </div><!--/.navbar -->

  <div class="container">

    <div class="row">
      <div class="span3">
        <%= form_for @memo, :url => {:controller => 'memos',:action => 'create'}, :remote => true do |f| %>
          <%= f.text_area :text, :class => "span3", :placeholder => "Fragments?", :size=>"10x3" %>
          <%= f.text_field :tag_name, :class => "span3" %>
          <%= f.submit "memo", :class => "btn btn-primary" %>
        <% end %>
      
        <hr>
        <%= form_tag(:controller => "memos", :action => "find") do %>
          <%= text_field_tag 'search_string', nil, :class => 'span3' %>
          <%= submit_tag "search",:class => "btn btn-primary"  %>
        <% end %>

        <hr>

      </div><!-- /span3 -->

      <div class="span9">

        <div id="error">
        </div>

        <div id="posts">
          <%= render @memos %>
        </div>
        
        <% if @count_memos == 0 %>
          
        <% else %>
          <% if @load_more_option == "show" %>
            <%= link_to load_more_path , :remote => true, :id => "load_more_link" do %>
              <button class="btn" type="button">もっと見る</button>
            <% end %>
          <% elsif @load_more_option == "find" %>
            <%= link_to load_find_more_path , :remote => true, :id => "load_more_link" do %>
              <button class="btn" type="button">もっと見る</button>
            <% end %>
          <% elsif @load_more_option == "tagfind" %>
            <%= link_to load_tagfind_more_path , :remote => true, :id => "load_more_link" do %>
              <button class="btn" type="button">もっと見る</button>
            <% end %>
          <% end %>
        <% end %>
           
       
          
      </div><!-- /span9 -->
    </div><!-- /row -->

    <hr>
    
    <footer>
      <p>ヘルプ&nbsp;&nbsp;利用規約&nbsp;&nbsp;お問い合わせ</p>
    </footer>

  </div> <!-- /container -->

<% else %>
  <%= link_to "Twitterでlogin","/auth/twitter" %>
<% end %>
