          <div id="memo<%= memo.id %>">
            <div>
              <%= memo.id %>:
              <%= memo.text %>
            </div>
            <div class="row">
              <div class="span7 weak">
                <div class="text-right" id="tag<%= memo.id %>">
                  <% memo.tags.each do |tag| %>
                    <%= link_to tag.name, tags_find_path(:tag_name => tag.name) %>
                    &nbsp;
                  <% end %>
                  <%= link_to '<i class="icon-edit"></i> '.html_safe, tags_input_path(:memo_id => memo.id) , :remote => true %>
                </div>
              </div>
              <div class="span2 weak">
                <div class="text-right">
                  <%= memo.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  <%= link_to  '<i class="icon-trash"></i> '.html_safe, 
                    memo, :method => :delete,
                    :remote => true,
                    data: { confirm: '削除しますか？' } %>
                </div>
              </div>
            </div>

            <hr class="memo">
          </div>
