      <div id="memo_<%= memo.id %>" name="memo_<%= memo.seq %>">
        <div class="row">
          <div class="span7" id="text_<%= memo.id %>">
            <%= br(memo.text) %>
          </div>
          <div class="span2">
            <div class="text-right">
              <% update_memo_id = "update_" + memo.id.to_s %>
              <%= link_to memos_input_path(:memo_id => memo.id), :remote => true, class: "btn btn-mini", :id => update_memo_id do %>
                <i class="icon-edit"></i>
              <% end %>
              <% update_close_memo_id = "update_close_" + memo.id.to_s %>
              <%= link_to memos_show_path(:memo_id => memo.id) , :remote => true, class: "btn btn-mini", :id => update_close_memo_id do %>
                <i class="icon-remove"></i>
              <% end %>
              <% delete_memo_id = "delete_" + memo.id.to_s %>
              <%= link_to memo, method: :delete, :remote => true, class: "btn btn-mini", :id => delete_memo_id, :confirm => "削除しますか？" do %>
                <i class="icon-trash"></i>
              <% end %>

              <span class="btn btn-mini" id="move_<%= memo.id %>" type="button"><i class="icon-move"></i></span>
            </div>
          </div>
        </div>



        <div class="row row-under">
          <div class="span7 weak">
            <div class="text-right" id="tag_<%= memo.id %>">
              <% memo.tags.each do |tag| %>
                <%= link_to tag.name, tags_find_path(:tag_name => tag.name) %>&nbsp;
              <% end %>
              <%= link_to '<i class="icon-tags"></i>'.html_safe, tags_input_path(:memo_id => memo.id) , :remote => true %>
            </div>
          </div>
          <div class="span2 weak">
            <div class="text-right">
              <%= memo.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            </div>
          </div>
        </div>

        <hr class="memo">


<script type="text/javascript">
$(function(){
  $('#update_close_<%= memo.id.to_s %>').hide();
});

</script>

      </div>